<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75420967099-dpfk9ubv0uqsjgtucs0iqg3u0gud9152.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75420967099-dpfk9ubv0uqsjgtucs0iqg3u0gud9152</string>
	<key>API_KEY</key>
	<string>AIzaSyBoNDaqKLPi2YrVytKcDoKDi6-t1XRE7B4</string>
	<key>GCM_SENDER_ID</key>
	<string>75420967099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tech387task</string>
	<key>PROJECT_ID</key>
	<string>tech387mowe</string>
	<key>STORAGE_BUCKET</key>
	<string>tech387mowe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75420967099:ios:6e2de117f53d488a92499e</string>
</dict>
</plist>